<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--<add key="ConnectionString" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>-->
    <!--<add key="ConnectionString" value="server=LAPTOP-NFMILO55\SSA;database=ChinaRwy;uid=sa;pwd=123456"/>-->
    <add key="ConnectionString" value="server=47.110.143.175;database=ChinaRwy;uid=sa;pwd=vline@123"/>
    <!--<add key="ConnectionString" value="server=47.110.143.175;database=ChinaRwy;uid=sa;pwd=vline@123"/>-->
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1"/>
  </appSettings>
  <system.web>

    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <identity impersonate="false"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>


<!--html5的页面放到服务器video标签不播放 在web.config文件中添加
<system.webServer>
  <staticContent>
    <remove fileExtension=".mp4" />
    <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
  </staticContent>
</system.webServer>-->